// Colors
$blue: #3D5A80;
$l-blue: #98C1D9;
$ll-blue: #E0FBFC;
$d-blue: #293241;
$orange: #EE6C4D;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;



